/*
main.css
Author: Randy G. Sidberry
Last updated: 01/30/2017
Notes: nothing really added.
Thinks to do?
- add font
- add reset link 




*/

/* Resets and fonts
=====================================================================================*/




/* Mobile css
======================================================================================*/

body{

background-color:black;
}

h1{ 
color:white;
text-align: center;
}
h4{ 
color:white;
text-align: center;
}
/* tablet css
======================================================================================*/


